@using MentProject.Enums;
@model Users
@{
    ViewBag.Title = "User Registry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User Registry</h2>

<table class="table">
    <tr>
        <th>#</th>
        @if (User.Identity.IsAuthenticated)
        {
            <th></th>
        }
        <th>
            @Html.DisplayName("Name")
        </th>
        <th>
            @Html.DisplayName("BDay")
        </th>
        <th>
            @Html.DisplayName("Age")
        </th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th scope="row">
                @Html.DisplayName(item.Id.ToString())
            </th>

            @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole(RolesEnum.admin.ToString()))
                {
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                }
                else
                {
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) 
                    </td>
                }
            }
            <td>
                @Html.DisplayName(item.Name)
            </td>
            <td>
                @Html.DisplayName(item.BDay.ToString("dd MMM yyyy"))
            </td>
            <td>
                @Html.DisplayName(item.Age.ToString())
            </td>
            <td>
                <img src="~/images/@item.Photo" width="50" height="50" />
            </td>
            @if (User.Identity.IsAuthenticated)
            {
                <td>
                    @Html.ActionLink("Look Raward", "LookRaward", new { id = item.Id })
                </td>
                if (User.IsInRole(RolesEnum.admin.ToString()))
                {
                    <td>
                        @Html.ActionLink("Set Raward", "SetRaward", new { id = item.Id })
                    </td>
                }
            }
</tr>
    }
@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole(RolesEnum.admin.ToString()) || User.IsInRole(RolesEnum.aspadmin.ToString()))
    {
        <tr>
            <th>@Html.ActionLink("Add New User", "Create")</th>
        </tr>
    }
}
</table>


