@model MentProject.Models.RewardModel

@*@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_WorkLayout.cshtml";
}*@


@*@using (Ajax.BeginForm("AddEdit", "Reward", new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "adwListBody", InsertionMode = InsertionMode.InsertAfter }, new { enctype = "multipart/form-data" }))
{*@
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Add/Edit Reward Form</h4>
        <hr />
        @Html.HiddenFor(model => model.Id)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.HiddenFor(model => model.Photo)
            @Html.LabelFor(model => model.File, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <form id="form1" runat="server">
                    <input type="file" name="@Html.NameFor(model => model.File)" id="@Html.IdFor(model => model.File)" class="btn btn-primary" />
                    <br /> <img id="selImg" src="~/images/@Model.Photo" width="100" height="100" />
                </form>               
                @Html.ValidationMessageFor(model => model.File, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button id="addrew" class="btn btn-default" >Add/Edit</button>
            </div>
        </div>
    </div>
@*}*@

