@model IEnumerable<RewardModel>
@{
    ViewBag.Title = "Reward Registry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reward Registry</h2>

<table>
    <tr>
        <td>
            <div id="addPar">
                @Html.Partial("_addEditPartial", new RewardModel())
            </div>
        </td>
        <td>
            <div id="delPar" style="visibility:hidden">
                @Html.Partial("_deletePartial", new RewardModel())
            </div>
        </td>
    </tr>
</table>

@Ajax.ActionLink("Refresh", "Index", new { }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "adwsList", InsertionMode = InsertionMode.Replace }, new { @class = "btn btn-default" })

<div id="adwsList">
    @Html.Partial("_adwsListPartial")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



