@model IEnumerable<RewardModel>
@{
    ViewBag.Title = "Reward Registry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reward Registry</h2>

<table>
    <tr>
        <td>
            <div id="addPar">
                @Html.Partial("_addEditPartial", new RewardModel())
            </div>
        </td>
        <td>
            <div id="delPar" style="visibility:hidden">
                @Html.Partial("_deletePartial", new RewardModel())
            </div>
        </td>
    </tr>
</table>

@Ajax.ActionLink("Refresh", "Index", new { }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "adwsList", InsertionMode = InsertionMode.Replace }, new { @class = "btn btn-default" })

<div id="adwsList">
    @Html.Partial("_adwsListPartial")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script src="Scripts/jquery-3.1.1.min.js"></script>
<script>
    var uri = 'api/apireward',
           $rewId = $('#Id'),
           $rewTitle = $('#Title'),
           $rewDesc = $('#Description'),
           $rewFile = $('#File'), 
           $selImg = $('#selImg'),
           $Photo = $('#Photo'),
           $addrew = $('#addrew');
           $adwListBody = $('#adwListBody');

        $(function () {
            reloadData();
        });

        function reloadData() {
            $.getJSON(uri)
                .done(function (data) {
                    $adwListBody.empty();
                    $.each(data, function (key, item) {
                        $('<tr>').appendTo($adwListBody)
                        $('<th>', { text: item.Id }).appendTo($adwListBody)
                        $('<button/>', {
                            text: "delete",
                            id: 'btn_' + item.Id,
                            click: function () {
                                var r = confirm("Are u sure whant to delete reward.\nId: " + item.Id + "\nTitle: " + item.Title + "\nDesc: " + item.Description);
                                if (r == true) {
                                    $.ajax({
                                        type: 'delete',
                                        url: uri + "/" + item.Id,
                                        contentType: 'application/json',
                                        success: function (data) {
                                            reloadData();
                                        }
                                    });
                                }                                
                            }
                        }).appendTo($adwListBody)
                        $('<button/>', {
                            text: "edit",
                            id: 'btn_' + item.Id,
                            click: function () {                                
                                $.getJSON(uri + "?$filter=Id eq " + item.Id)
                                    .done(function (data) {
                                        if (data) {
                                            $rewId.val(data[0].Id);
                                            $rewTitle.val(data[0].Title);
                                            $rewDesc.val(data[0].Description);
                                            $selImg.attr("src", "/images/" + data[0].Photo);
                                            $("html, body").animate({ scrollTop: 0 }, "slow");
                                        } else { alert("Data not found"); }
                                    })
                            }
                        }).appendTo($adwListBody)
                        $('<button/>', {
                            text: "details",
                            id: 'btn_' + item.Id,
                            click: function () {                                
                                $.getJSON(uri + "?$filter=Id eq " + item.Id)
                                    .done(function (data) {
                                        if (data) {
                                            alert("Reward info\nId: " + data[0].Id + "\nTitle: " + data[0].Title + "\nDesc: " + data[0].Description);
                                        } else { alert("Data not found");}
                                    })
                            }
                        }).appendTo($adwListBody)
                        $('<th>', { text: item.Title }).appendTo($adwListBody)
                        $('<th>', { text: item.Description }).appendTo($adwListBody)
                        $('<img src="/images/' + item.Photo + '" width="50" height="50" />').appendTo($adwListBody)
                    });
                });
        };

        //$('form').on('submit', serFiles);

        //function serFiles(event) {
        //    var forms = ($selImg.serialize());
        //}

        $addrew.on('click', function () {
            var data = new FormData();
            if ($selImg.length > 0) {
                data.append("File", $selImg[0]);
                data.append("FileName", "qwe.jpg");
            }
            data.append("Id", $rewId.val());
            data.append("Title", $rewTitle.val());
            data.append("Description", $rewDesc.val());
            data.append("Photo", $Photo.val());

            $.ajax({
                data: data,
                type: 'post',
                url: uri,
                contentType: 'application/x-www-form-urlencoded',
                processData: false,
                success: function (data) {
                    reloadData();
                }
            });

        });

</script>



