@model Rewards
@{
    ViewBag.Title = "Reward Registry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reward Registry</h2>

<table class="table">
    <tr>
        <th>#</th>
        <th></th>
        <th>
            @Html.DisplayName("Title")
        </th>
        <th>
            @Html.DisplayName("Description")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th scope="row">
                @Html.DisplayName(item.Id.ToString())
            </th>           
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
            <td>
                @Html.DisplayName(item.Title)
            </td>
            <td>
                @Html.DisplayName(item.Description ?? string.Empty)
            </td>
            <td>
                <img src="~/images/@item.Photo" width="50" height="50" />
            </td>
        </tr>
    }
    <tr>
        <th>@Html.ActionLink("Add New Reward", "Create")</th>
    </tr>
</table>


